<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 1999-2024. WebPros International GmbH. All rights reserved. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="src/plib/vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/plib</directory>
        </include>
        <exclude>
            <directory>src/plib/vendor</directory>
            <directory>src/plib/resources</directory>
            <directory>src/plib/scripts</directory>
        </exclude>
    </source>
</phpunit>
